/* Fonts */

@font-face
{
    font-family:'ComicSans';
    src: url('./fonts/comicsans.woff2') format('woff2'),
    url('./fonts/comicsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face
{
    font-family:'FinkHeavy';
    src: url('./fonts/finkheavy.woff2') format('woff2'),
    url('./fonts/finkheavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face
{
    font-family:'Pokemon';
    src: url('./fonts/pokemon.woff2') format('woff2'),
    url('./fonts/pokemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face
{
    font-family:'TimesNewRoman';
    src: url('./fonts/times.woff2') format('woff2'),
    url('./fonts/times.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

/* Common */

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.pagewrapper {
    max-width: 100vw;
    height: 100%;
    overflow: auto;
}

.centered {
    text-align: center;
    justify-content: center;
    margin: 0px auto;
}

.left {
    text-align: left;
}

.squeeze {
    width: 75%;
    margin: 0 auto 50px;
}

.showbar {
    overflow-y: scroll;
}

video {
    height: 350px;
    display: block;
    margin: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid p {
    max-width: 150px;
    margin: 0 auto 5px;
}

.creaturestyle .grid img{
    padding: 5px 15px;
    height: 150px;
    width: auto;
    object-fit: contain;
}

.grid a img, .grid p img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 6.25px;
    margin: 0 5px;
}

.zoom:hover {
    cursor: zoom-in;
}

/* Collapsibles */

.collapsible {
    background: rgba(0,0,0,0);
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 20px;
    text-align: left;
    transition: color 0.2s ease-in-out;
    position: relative;
    right: 5px;
}

.collapsecontent {
    display: none;
    overflow: hidden;
    margin-bottom: 15px;
}

.active {
    font-weight: bold;
}

.collapsible img {
    width: 30px;
    height: 30px;
    margin: -30px;
    position: relative;
    bottom: 20px;
    left: 30px;
}

/* Page Backgrounds */

.storiesstyle {
    background-image: url(./misc/images/storiesbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: black;
    font-family: "TimesNewRoman";
}

.robloxstyle {
    background-image: url(./misc/images/robloxbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
    font-family: "ComicSans";
    text-shadow: 1px 1px 2px black;
}

.pokemonstyle {
    background-image: url(./misc/images/pokemonbg.jpg);
    background-size: 10px 10px;
    color: #181818;
    font-family: "Pokemon";
    font-size: 22px;
}

.creaturestyle {
    background-image: url("./misc/images/creaturesbg.png");
    background-repeat: repeat;
    color: rgb(120, 55, 150);
    font-family: "FinkHeavy";
    font-size: 20px;
}

.logstyle {
    background-image: url(./misc/images/logbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: rgb(80, 27, 0);
    font-family: "TimesNewRoman";
}

/* Stories Elements */

.storiescollapse {
    font-family: "TimesNewRoman";
}

.storiescollapse:hover {
    color: royalblue;
}

/* Roblox Elements */

.robloxcollapse {
    color: white;
    font-family: "ComicSans";
    text-shadow: 1px 1px 2px black;
}

.robloxcollapse:hover {
    color: lightgray;
}

.robloxstyle .active {
    text-decoration: underline;
}

/* Pokemon Elements */

.pokemonstyle tr, .pokemonstyle td {
    max-width: 200px;
    padding: 5px;
    border: 2px outset #181818;
}

.pokemonstyle td, .pokemonstyle th {
    overflow-wrap: anywhere;
    font-size: 24px;
}

.pokemonstyle table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

.pokemonstyle table img {
    height: 50%;
    max-width: 100%;
}

.pokemoncollapse {
    color: #181818;
    font-family: "Pokemon";
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    left: 0;
}

.pokemoncollapse:hover {
    color: #122C72;
}
